#TopicsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  margin-left: 1%;
  margin-right: 1%; 
  margin-bottom: 5%;
}


p {
  text-align: justify;
  width: 290px;
  margin: 1%
}

h2 {
  text-align: center;
  align-content: center;
  width: 200px;
}

h3, h4, h5 {
  text-align: center;
  align-content: center;
  width: 300px;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: gray;
}
