#App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-content: center;
} 

#logoutcontainer {
  margin-bottom: 20%;
}

#TopicsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  margin-left: 1%;
  margin-right: 1%; 
  margin-bottom: 5%;
}

#logoutbutton {
  height: 100px;
  width: 300px;
  font-size: 40px
}

p {
  text-align: justify;
  width: 290px;
  margin: 1%
}

h2 {
  text-align: center;
  align-content: center;
  width: 200px;
}

h3, h4, h5 {
  text-align: center;
  align-content: center;
  width: 300px;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: gray;
}
